<div class="scatter-plot-directive-container">
    <div class="scatter-plot-header clearfix"
         ng-if="_chartData.length > 0">

        <div class="dropdown pull-left">
            <button class="btn sp-header-suite dropdown-toggle"
                    type="button"
                    id="dropdownSuite"
                    data-toggle="dropdown">
                {{_chartData[0].suite}}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu suite-dropdown"
                role="menu"
                aria-labelledby="dropdownSuite">
                <li role="presentation"
                    ng-repeat="test in getTests() track by $index">
                    <a role="menuitem"
                         tabindex="-1"
                         ng-click="jumpToTest($index)">
                            {{test}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="dropdown pull-left">
            <button class="btn sp-header-suite dropdown-toggle"
                    type="button"
                    id="dropdownTimeInterval"
                    data-toggle="dropdown">
                {{(options.selectedInterval / 60 / 60 / 24)}} days
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu suite-dropdown"
                role="menu"
                aria-labelledby="dropdownTimeInterval">
                <li role="presentation"
                    ng-repeat="timeInterval in timeIntervals">
                    <a role="menuitem"
                         tabindex="-1"
                         ng-click="selectInterval(timeInterval.seconds)">
                            {{timeInterval.days}} days
                    </a>
                </li>
            </ul>
        </div>

        <div class="pull-left sp-header-suite">
                error bars
            <input type="checkbox"
                   ng-model="options.errorBars"/>
        </div>

        <div class="btn-group pull-left">
            <span type="button"
                  class="btn scatter-plot-header-button"
                  ng-click="options.plot = 'mean';"
                  ng-class="{'selected': options.plot === 'mean'}">
                mean
            </span>
            <span type="button"
                  class="btn scatter-plot-header-button"
                  ng-click="options.plot = 'median';"
                  ng-class="{'selected': options.plot === 'median'}">
                median
            </span>
        </div>
    </div>

    <div class="scatter-plot-error"
         ng-if="settings.error">
        {{settings.error}}
    </div>

    <div class="scatter-plot-loading"
         ng-if="_loading">
        <img src="img/waiter64.png" />
    </div>

    <div class="th-scatter-plot-chart-list"
         ng-if="!_loading && !settings.error">
        <div ng-repeat="obj in _chartData"
             class="th-chart-repeater"
             index="$index">

            <!--
                pass in the charting data through scatter-plot attr
                this div has to have a set height & width
            -->
            <div scatter-plot="obj"
                 options="options">
                <div class="th-chart-info">
                    {{obj.test}}
                    <span class="info-point"
                          ng-if="selectedDatum"
                          ng-repeat="item in ['median', 'mean', 'min', 'max',
                                                                        'total_replicates']">
                        {{(item === 'total_replicates') ? 'n' : item}}: {{selectedDatum[item]}}
                        <span ng-if="!$last">|</span>
                    </span>

                    <div class="pull-right sp-navigation">
                        <span class="fa fa-arrow-left sp-nav-item"
                              ng-click="pan({ left: -100 })"></span>
                        <span class="fa fa-arrow-right sp-nav-item"
                              ng-click="pan({ left: 100 })"></span>
                        <span class="fa fa-plus sp-nav-item"
                              ng-click="zoom()"></span>
                        <span class="fa fa-minus sp-nav-item"
                              ng-click="zoomOut()"></span>
                    </div>
                </div>

                <div class="th-chart"></div>
            </div>
        </div>
    </div>
</div>
