
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tick {
  font-weight: 100;
  font-size: .8em;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

[line-chart], line-chart {
  max-height: 300px;
  overflow: auto;
}
